<?php
/**
 * map.phtml
 *
 * @category  Aligent
 * @package   Aligent_Storelocator
 * @author    Brent Honeybone <brent@aligent.com.au>
 * @copyright 2014 Aligent Consulting.
 * @license   All Rights Reserved
 * @link      http://www.aligent.com.au/
 */
?>
<?php $sApiKey = $this->escapeHtml(Mage::getStoreConfig('aligent_storelocator/google_api/maps_api_key')); ?>
<script type="text/html" id="info-window-template">
    <div class="store-info-window">
        <h3 id="location-window-{{id}}" class="info-window">{{name}}</h3>
        <div class="details">
            {{#if address1}}{{address1}}<br>{{/if}}
            {{#if address2}}{{address2}}<br>{{/if}}
            {{#if city}}{{city}} {{/if}}
            {{#if state}}{{state}} {{/if}}
            {{postcode}}<br>
            {{#if phone}}{{phone}}<br>{{/if}}
        </div>
        {{#if description}}<div class="description">{{{nl2br description}}}</div>{{/if}}
    </div>
</script>
<script>Aligent.MapLocationInfo.TEMPLATE = Handlebars.compile($('info-window-template').innerHTML);</script>

<div class="map" id="map"></div>

<script>
    $(document).observe('dom:loaded', function() {
        Aligent.map = new Aligent.Map('map', {
            <?php if($sApiKey): ?>
            key: "<?php echo $sApiKey ?>",
            <?php endif; ?>
            styles: [
                {
                    "stylers": [
                        { "hue": "#ebebeb" },
                        { "invert_lightness": false },
                        { "saturation": -100 },
                        { "lightness": 30 },
                        { "gamma": 0.5 }
                    ]
                },
                { "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        { "color": "#ebebeb" }
                    ]
                },
                {
                    featureType: "poi",
                    elementType: "labels",
                    stylers: [
                        { visibility: "off" }
                    ]
                }
            ]
        });

        Aligent.mapLocationManager = new Aligent.MapLocationManager(Aligent.map, Aligent.mapData);
        Aligent.mapDirectionManager = new Aligent.MapDirectionManager('directions', 'data-id', Aligent.mapData, Aligent.map);
    });
</script>