<?php
/**
 * search.phtml
 *
 * @category  Aligent
 * @package   Aligent_Storelocator
 * @author    Brent Honeybone <brent@aligent.com.au>
 * @copyright 2014 Aligent Consulting.
 * @license   All Rights Reserved
 * @link      http://www.aligent.com.au/
 */

$disableInlineStyle = Mage::getStoreConfig('aligent_storelocator/settings/disable_inline_style');

/**
 * only to make it work out of the box
 * this template is almost always overwritten
 * if not you can turn off inline style by configuration
 */
if (!$disableInlineStyle){
    ?>
    <style>
        .map {
            height: 460px;
            border: solid;
            border-width: 4px 0;
        }
    </style>
<?php
}

$sCountry = $this->escapeHtml(Mage::app()->getRequest()->get('country'));
$sZone2 = $this->escapeHtml(Mage::app()->getRequest()->get('zone'));
$sRadius = $this->escapeHtml(Mage::app()->getRequest()->get('radius'));
$sUnit = $this->escapeHtml(Mage::app()->getRequest()->get('unit'));
$sDefaultCountry = Mage::getStoreConfig('aligent_storelocator/settings/default_country');
$aRadii = $this->getRadii();
$aStoreTypes = Mage::helper('aligent_storelocator/data')->getStoreTypes();

if (!$sUnit) {
    $sUnit = Mage::getStoreConfig('aligent_storelocator/settings/units');
}
?>

<div class="store-locator-search">
    <div class="content-container">
        <div class="content">
            <h1><?php echo $this->__('Find a store near you') ?></h1>

            <form action="<?php Mage::getBaseUrl() ?>stores" method="get" class="store-search">
                <?php $aCountries = Mage::getResourceModel('directory/country_collection')
                    ->loadData()
                    ->toOptionArray(false) ?>
                <?php if (count($aCountries) > 0): ?>
                    <div class="select">
                        <select name="zone1" class="combine">
                            <?php foreach($aCountries as $aCountry): ?>
                                <?php if ($sCountry) : ?>
                                    <option value="<?php echo $aCountry['label'] ?>"<?php if ($aCountry['label'] == $sCountry) echo ' selected="selected"' ?>>
                                <?php else : ?>
                                    <option value="<?php echo $aCountry['label'] ?>"<?php if ($aCountry['value'] == $sDefaultCountry) echo ' selected="selected"' ?>>
                                <?php endif; ?>
                                <?php echo $aCountry['label'] ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                <?php endif; ?>
                <input name="zone2" type="text" value="<?php echo $sZone2 ?>" class="combine" placeholder="City or Postcode" />
                <div class="select">
                    <select name="radius" class="send">
                        <?php foreach ($aRadii as $iRadius) : ?>
                            <option value="<?php echo $iRadius ?>"<?php if ($iRadius == $sRadius) echo ' selected="selected"' ?>>Within <?php echo $iRadius ?><?php echo $sUnit ?></option>
                        <?php endforeach ?>
                    </select>
                    <input type="hidden" name="unit" value="<?php echo $sUnit ?>" class="send" />
                </div>
                <div class="select">
                    <select name="store_type" class="send">
                        <option value="All"><?php echo $this->__('All Stores'); ?></option>
                        <?php foreach ($aStoreTypes as $storeType) : ?>
                            <?php $storeTypeName = $storeType['store_type']; ?>
                            <option value="<?php echo $storeTypeName ?>"><?php echo $storeTypeName ?></option>
                        <?php endforeach ?>
                    </select>
                </div>
                <input type="submit" value="<?php echo $this->__('Find a Store') ?>" class="button" />
                <div class="loading-container" style="display: none"></div>
            </form>
        </div>
    </div>
</div>

<script type="text/html" id="loading-template">
    <div class="loading">{{message}}</div>
</script>
<script type="text/html" id="error-template">
    <div class="error">{{message}}</div>
</script>

<script>
    Aligent.storeSearch = new Aligent.StoreSearch('.store-search', {});
    Aligent.storeSearchLoader = new Aligent.StoreSearchLoader(Aligent.storeSearch, '.loading-container', 'loading-template', 'error-template');
</script>
