<?php
/**
 * store-locator.phtml
 *
 * @category  Aligent
 * @package   Aligent_Storelocator
 * @author    Brent Honeybone <brent@aligent.com.au>
 * @copyright 2014 Aligent Consulting.
 * @license   All Rights Reserved
 * @link      http://www.aligent.com.au/
 */
?>
<?php
$sCountry = Mage::app()->getRequest()->get('country');
$sZone2 = Mage::app()->getRequest()->get('zone');
$sRadius = Mage::app()->getRequest()->get('radius');
$sUnit = Mage::helper('core')->escapeHtml(Mage::app()->getRequest()->get('unit')) ? Mage::helper('core')->escapeHtml(Mage::app()->getRequest()->get('unit')) : Mage::getStoreConfig('aligent_storelocator/settings/units');
$bShowSearchPin = (boolean) Mage::getStoreConfig('aligent_storelocator/settings/search_pin');

$oSearchResult = null;

if ($sCountry && $sZone2 && $sRadius) {
    $oGeoCode = Mage::app()->getHelper('aligent_storelocator/geo')->getGeolocationFromAddress($sZone2 . ' ' . $sCountry);

    if ($oGeoCode) {
        $oSearchResult = Mage::app()->getHelper('aligent_storelocator/data')->search($oGeoCode->lat, $oGeoCode->lng, $sRadius, $sUnit, $bShowSearchPin);
    }
}

?>

<script>Aligent.mapData = new Aligent.MapData(<?php if ($oSearchResult && $oSearchResult->total) echo json_encode($oSearchResult) ?>);</script>

<div class="store-locator">
    <?php echo $this->getChildHtml('store.locator.search') ?>
    <?php echo $this->getChildHtml('store.locator.map') ?>
    <?php echo $this->getChildHtml('store.locator.store.list') ?>
</div>
