<?php
/**
 * store-list.phtml
 *
 * @category  Aligent
 * @package   Aligent_Storelocator
 * @author    Brent Honeybone <brent@aligent.com.au>
 * @copyright 2014 Aligent Consulting.
 * @license   All Rights Reserved
 * @link      http://www.aligent.com.au/
 */

$sUnit = $this->escapeHtml(Mage::app()->getRequest()->get('unit'));

if (!$sUnit) {
    $sUnit = Mage::getStoreConfig('aligent_storelocator/settings/units');
}
?>
<script id="store-locator-list-item" type="text/html">
    <li class="store-list-item" data-id="{{id}}">
        <div class="top">
            {{#ifEq isLoved value="1"}}<div class="loves">Loves</div>{{/ifEq}}
            <div class="details">
                <h4>{{name}}</h4>
                {{#if address1}}{{address1}}<br>{{/if}}
                {{#if address2}}{{address2}}<br>{{/if}}
                {{city}}
                {{state}}
                {{#if postcode}}{{postcode}}<br>{{/if}}
                {{phone}}
            </div>
        </div>
        <div class="bottom">
            {{#if distance}}
            <div class="distance">You're {{distance}}<?php echo $sUnit ?> from your salvation</div>
            {{/if}}
            <a href="#map" class="show-on-map" data-id="{{id}}">Show on Map</a>
            {{#if storeType}}
            <ul class="types">
                {{#each storeType}}
                <li>{{#ifLast true}}&nbsp;and&nbsp;{{else}},&nbsp;{{/ifLast}}{{this}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </li>
</script>

<div class="store-list-container">
    <ul class="store-list"></ul>
</div>

<script>
    Aligent.storeListConfig = {
        template: '#store-locator-list-item',
        containers: '.store-list',
        showOnMapSelector: '.show-on-map',
        distanceRound: -2
    };

    Aligent.storeList = new Aligent.StoreList(Aligent.mapData, Aligent.storeListConfig);

    Handlebars.registerHelper('ifEq',function(property,options){
        if(property==options.hash.value){
            return options.fn(this);
        }
        else{
            return options.inverse(this);
        }
    });

    $$('.store-count').each(function(el) {
        var content = el.innerHTML;
        el.update(new Template(content).evaluate({ total: Aligent.mapData.getAmount(), radius: '50km', query: '5000' }));
    });
</script>
