<?php
/**
 * js.phtml
 *
 * @category  Aligent
 * @package   Aligent_Storelocator
 * @author    Luke Mills <luke@aligent.com.au>
 * @copyright 2014 Aligent Consulting.
 * @license   All Rights Reserved
 * @link      http://www.aligent.com.au/
 */
?>
<?php
$_geolocateUrl = $this->getUrl('*/*/geolocate');
?>
<script type="text/javascript">

    function saveAndContinueEdit(urlTemplate) {
        var template = new Template(urlTemplate, /(^|.|\r|\n)({{(\w+)}})/);
        var url = template.evaluate({tab_id: storelocation_info_tabsJsTabs.activeTab.id});
        editForm.submit(url);
    }

    function geolocateAddress() {
        var url = '<?php echo $_geolocateUrl; ?>',
            param = 'address/',
            address = '',
            addressValues = [],
            addressFields = [
                'address1',
                'address2',
                'city',
                'state',
                'postcode'
            ],
            fieldIdPrefix = '_store_information_';

        addressFields.each(function(field) {
            var fieldId = fieldIdPrefix + field,
                value = $(fieldId).value;
            if (value.trim() != '') {
                addressValues.push(value);
            }
        });

        address = encodeURIComponent(addressValues.join(' ').replace(/[\\\/]/g, '-'));

        new Ajax.Request(url + param + address, {
            onSuccess: function(responseObject) {
                var response = responseObject.responseJSON;
                if (!response.error) {
                    var location = response.location,
                        latitude = location.lat,
                        longitude = location.lng;
                    $(fieldIdPrefix + 'latitude').value = latitude;
                    $(fieldIdPrefix + 'longitude').value = longitude;
                }
            }
        });

    }
</script>
